.App {
  text-align: center;
}

.nav {
  position: fixed;
  width: 100vw;
  height: 68px;
  background-color: rgba(0,0,0,0.1);
}

.MainPage{
  display: flex;
  flex-direction: column;
  padding-top: 68px;
  height: auto;
  background-color:seashell;
}

.HistoryPage{
  display: flex;
    flex-direction: column;
    padding-top: 68px;
    height: auto;
    background-color: seashell;
}

.ProjectPage{
  display: flex;
    flex-direction: column;
    padding-top: 68px;
    height: 100vh;
}

.BackgroundPage{
  display: flex;
    flex-direction: column;
    padding-top: 68px;
    height: auto;
    background-color: seashell;
}

.LanguagesPage{
  display: flex;
    flex-direction: column;
    padding-top: 68px;
    height: auto;
    background-color: seashell;
}

.AlgorithmsPage{
  display: flex;
    flex-direction: column;
    padding-top: 68px;
    height: auto;
    background-color: seashell;
}

.TMIPage{
  display: flex;
    flex-direction: column;
    padding-top: 68px;
    height: auto;
    background-color: seashell;
}