.App {
  text-align: center;
}

.nav {
  position: fixed;
  width: 100vw;
  height: 68px;
  background-color: rgba(0,0,0,0.1);
}

.MainPage{
  padding-top: 68px;
  height: 100vh;
  width: 100vw;
  background-color:seashell;
}

.HistoryPage{
  padding-top: 68px;
  height: 100vh;
  background-color: seashell;
}

.ProjectPage{
  padding-top: 68px;
  height: 100vh;
  background-color: seashell;
}

.BackgroundPage{
  padding-top: 68px;
  height: 100vh;
  background-color: seashell;
}

.LanguagesPage{
  padding-top: 68px;
  height: 100vh;
  background-color: seashell;
}

.AlgorithmsPage{
  padding-top: 68px;
  height: 100vh;
  background-color: seashell;
}

.TMIPage{
  padding-top: 68px;
  height: 100vh;
  background-color: seashell;
}